<a href="https://colab.research.google.com/github/indhutharsh/notebook/blob/main/colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Disease:
  def __init__(self, disease = 'Depression'):
    self.type = disease

  def getName(self):
    print("Mental Health Diseases: {0}".format(self.type))

d1 = Disease('Social Anxiety Disorder')
d1.getName()

# Try Catch Block
# The try block will generate a NameError, because x is not defined:

try:
  print(y)
except NameError:
  print("Well, the variable y is not defined")
except:
  print("OMG, Something else went wrong")

try:
 Value = int(input("Type a number between 1 and 10:"))
except ValueError:
  print("You must type a number between 1 and 10!")
else:
  if (Value > 0) and (Value <= 10):
      print("You typed: ", Value)
  else:
      print("The value you typed is incorrect!")

Mental Health Diseases: Social Anxiety Disorder
Well, the variable y is not defined
Type a number between 1 and 10:2
You typed:  2

In [3]:
# importing numpy
import numpy as np

# Defining 1D array
my1DArray = np.array([1, 8, 27, 64])
print(my1DArray)

# Defining and printing 2D array
my2DArray = np.array([[1, 2, 3, 4], [2, 4, 9, 16], [4, 8, 18, 32]])
print(my2DArray)

#Defining and printing 3D array
my3Darray = np.array([[[ 1, 2 , 3 , 4],[ 5 , 6 , 7  ,8]], [[ 1,  2,  3,  4],[ 9, 10, 11, 12]]])
print(my3Darray)

# Print out memory address
print(my2DArray.data)

# Print the shape of array
print(my2DArray.shape)

# Print out the data type of the array
print(my2DArray.dtype)

"""
Print the stride of the array.

So what is stride of array?  It is the number of locations in memory between
beginnings of successive array elements, measured in bytes or in units of the
size of the array's elements
"""
print(my2DArray.strides)

[ 1  8 27 64]
[[ 1  2  3  4]
 [ 2  4  9 16]
 [ 4  8 18 32]]
[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 1  2  3  4]
  [ 9 10 11 12]]]
<memory at 0x7f15a44f01e0>
(3, 4)
int64
(32, 8)

In [4]:
# Array of ones
ones = np.ones((3,4))
print(ones)

# Array of zeros
zeros = np.zeros((2,3,4),dtype=np.int16)
print(zeros)

# Array with random values
np.random.random((2,2))

# Empty array
emptyArray = np.empty((3,2))
print(emptyArray)

# Full array
fullArray = np.full((2,2),7)
print(fullArray)

# Array of evenly-spaced values
evenSpacedArray = np.arange(10,25,5)
print(evenSpacedArray)

# Array of evenly-spaced values
evenSpacedArray2 = np.linspace(0,2,9)
print(evenSpacedArray2)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]

 [[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]
[[4.77968321e-310 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000]
 [1.77201229e+164 8.06809200e-321]]
[[7 7]
 [7 7]]
[10 15 20]
[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [5]:
x = np.arange(0.0,50.0,1.0)
np.savetxt('data.out', x, delimiter=',')

# Loading numpy array from text
z = np.loadtxt('data.out', unpack=True)
print(z)

# Loading numpy array using genfromtxt method
my_array2 = np.genfromtxt('data.out',
                      skip_header=1,
                      filling_values=-999)
print(my_array2)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35.
 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.]
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.]

In [6]:
# Print the number of `my2DArray`'s dimensions
print(my2DArray.ndim)

# Print the number of `my2DArray`'s elements
print(my2DArray.size)

# Print information about `my2DArray`'s memory layout
print(my2DArray.flags)

# Print the length of one array element in bytes
print(my2DArray.itemsize)

# Print the total consumed bytes by `my2DArray`'s elements
print(my2DArray.nbytes)

2
12
  C_CONTIGUOUS : True
  F_CONTIGUOUS : False
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

8
96

In [8]:
# Rule 1: Two dimensions are operatable if they are equal
# Create an array of two dimension
A =np.ones((6, 8))

# Shape of A
print(A.shape)

# Create another array
B = np.random.random((6,8))

# Shape of B
print(B.shape)

# Sum of A and B, here the shape of both the matrix is same.
print(A + B)

# Rule 2: Two dimensions are also comptable when one of them is 1
# Initialize `x`
x = np.ones((3,4))
print(x)

# Check shape of `x`
print(x.shape)

# Initialize `y`
y = np.arange(4)
print(y)

# Check shape of `y`
print(y.shape)

# Subtract `x` and `y`
x - y

# Rule 3: Arrays can be broadcasted together if they are compatible in all dimensions

x = np.ones((6,8))
y = np.random.random((10, 1, 8))
print(x + y)

(6, 8)
(6, 8)
[[1.34371773 1.87757543 1.70939549 1.42927232 1.88486335 1.06997144
  1.34360011 1.5072258 ]
 [1.9542652  1.6995882  1.26184267 1.76412704 1.66451925 1.73185153
  1.25747352 1.15006368]
 [1.08777746 1.42241877 1.2829422  1.80230878 1.10522172 1.1759831
  1.65254694 1.28408438]
 [1.94464597 1.33333569 1.96677225 1.71050808 1.33951014 1.53415019
  1.17531589 1.69374043]
 [1.44070221 1.90655943 1.62093541 1.9352059  1.66242064 1.23045899
  1.73482713 1.11344021]
 [1.42734309 1.78613214 1.49490617 1.24278849 1.83715719 1.7415732
  1.19667818 1.54842468]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
(3, 4)
[0 1 2 3]
(4,)
[[[1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]
  [1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]
  [1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]
  [1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]
  [1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]
  [1.88452538 1.19211472 1.11637384 1.56555505 1.62861272 1.41907835
   1.92765487 1.10429107]]

 [[1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]
  [1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]
  [1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]
  [1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]
  [1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]
  [1.72406782 1.73795808 1.24047361 1.44954884 1.44148052 1.62333897
   1.09980137 1.31170989]]

 [[1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]
  [1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]
  [1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]
  [1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]
  [1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]
  [1.32045333 1.95337013 1.69380032 1.23512987 1.05998447 1.12677951
   1.63381713 1.26889358]]

 [[1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]
  [1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]
  [1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]
  [1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]
  [1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]
  [1.60194885 1.04157455 1.94611488 1.38910397 1.78723375 1.26214467
   1.13381736 1.97293774]]

 [[1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]
  [1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]
  [1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]
  [1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]
  [1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]
  [1.63121164 1.16424728 1.53168981 1.94415308 1.49480566 1.49833814
   1.76063889 1.04038424]]

 [[1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]
  [1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]
  [1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]
  [1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]
  [1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]
  [1.70200318 1.95839951 1.75353133 1.35551106 1.16151029 1.98726
   1.0928725  1.72357556]]

 [[1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]
  [1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]
  [1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]
  [1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]
  [1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]
  [1.0927797  1.78782516 1.56667198 1.45627878 1.80071707 1.76779627
   1.13694055 1.19634955]]

 [[1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]
  [1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]
  [1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]
  [1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]
  [1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]
  [1.03983853 1.31032604 1.80303916 1.04678896 1.44148973 1.37413233
   1.21598654 1.22394138]]

 [[1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]
  [1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]
  [1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]
  [1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]
  [1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]
  [1.73661125 1.82720461 1.86681535 1.49823365 1.22707991 1.20899133
   1.434167   1.69578563]]

 [[1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]
  [1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]
  [1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]
  [1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]
  [1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]
  [1.23470727 1.35636047 1.69785306 1.98055106 1.06877438 1.1097183
   1.99946469 1.53293553]]]

In [9]:
# Basica operations (+, -, *, /, %)
x = np.array([[1, 2, 3], [2, 3, 4]])
y = np.array([[1, 4, 9], [2, 3, -2]])

# Add two array
add = np.add(x, y)
print(add)

# Subtract two array
sub = np.subtract(x, y)
print(sub)

# Multipley two array
mul = np.multiply(x, y)
print(mul)

# Divide x, y
div = np.divide(x,y)
print(div)

# Calculated the remainder of x and y
rem = np.remainder(x, y)
print(rem)

"""# Subset, Slice, And Index Arrays"""

x = np.array([10, 20, 30, 40, 50])

# Select items at index 0 and 1
print(x[0:2])

# Select item at row 0 and 1 and column 1 from 2D array
y = np.array([[ 1,  2,  3,  4], [ 9, 10, 11 ,12]])
print(y[0:2, 1])

# Specifying conditions
biggerThan2 = (y >= 2)
print(y[biggerThan2])

# Importing pandas
import pandas as pd

"""# Can you set default parameters in Pandas?"""

print("Pandas Version:", pd.__version__)

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

[[ 2  6 12]
 [ 4  6  2]]
[[ 0 -2 -6]
 [ 0  0  6]]
[[ 1  8 27]
 [ 4  9 -8]]
[[ 1.          0.5         0.33333333]
 [ 1.          1.         -2.        ]]
[[0 2 3]
 [0 0 0]]
[10 20]
[ 2 10]
[ 2  3  4  9 10 11 12]
Pandas Version: 1.5.3

In [10]:
series = pd.Series([2, 3, 7, 11, 13, 17, 19, 23])
print(series)

# Creating dataframe from Dictionary
dict_df = [{'A': 'Apple', 'B': 'Ball'},{'A': 'Aeroplane', 'B': 'Bat', 'C': 'Cat'}]
dict_df = pd.DataFrame(dict_df)
print(dict_df)

# Creating dataframe from Series
series_df = pd.DataFrame({
    'A': range(1, 5),
    'B': pd.Timestamp('20190526'),
    'C': pd.Series(5, index=list(range(4)), dtype='float64'),
    'D': np.array([3] * 4, dtype='int64'),
    'E': pd.Categorical(["Depression", "Social Anxiety", "Bipolar Disorder", "Eating Disorder"]),
    'F': 'Mental health',
    'G': 'is challenging'
})
print(series_df)

# Creating a dataframe from ndarrays
sdf = {
    'County':['Østfold', 'Hordaland', 'Oslo', 'Hedmark', 'Oppland', 'Buskerud'],
    'ISO-Code':[1,2,3,4,5,6],
    'Area': [4180.69, 4917.94, 454.07, 27397.76, 25192.10, 14910.94],
    'Administrative centre': ["Sarpsborg", "Oslo", "City of Oslo", "Hamar", "Lillehammer", "Drammen"]
    }
sdf = pd.DataFrame(sdf)
print(sdf)

0     2
1     3
2     7
3    11
4    13
5    17
6    19
7    23
dtype: int64
           A     B    C
0      Apple  Ball  NaN
1  Aeroplane   Bat  Cat
   A          B    C  D                 E              F               G
0  1 2019-05-26  5.0  3        Depression  Mental health  is challenging
1  2 2019-05-26  5.0  3    Social Anxiety  Mental health  is challenging
2  3 2019-05-26  5.0  3  Bipolar Disorder  Mental health  is challenging
3  4 2019-05-26  5.0  3   Eating Disorder  Mental health  is challenging
      County  ISO-Code      Area Administrative centre
0    Østfold         1   4180.69             Sarpsborg
1  Hordaland         2   4917.94                  Oslo
2       Oslo         3    454.07          City of Oslo
3    Hedmark         4  27397.76                 Hamar
4    Oppland         5  25192.10           Lillehammer
5   Buskerud         6  14910.94               Drammen

In [11]:
import pandas as pd
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'ethnicity', 'gender','capital_gain','capital_loss','hours_per_week','country_of_origin','income']
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=columns)
df.head(10)

# Displays the rows, columns, data types and memory used by the dataframe
df.info()

# Displays the no of data points and columns in the dataframe
df.shape

# Display all columns of the dataframe
df.columns

# Displays summary statistics for each numerical column in the dataframe
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                32561 non-null  int64
 1   workclass          32561 non-null  object
 2   fnlwgt             32561 non-null  int64
 3   education          32561 non-null  object
 4   education_num      32561 non-null  int64
 5   marital_status     32561 non-null  object
 6   occupation         32561 non-null  object
 7   relationship       32561 non-null  object
 8   ethnicity          32561 non-null  object
 9   gender             32561 non-null  object
 10  capital_gain       32561 non-null  int64
 11  capital_loss       32561 non-null  int64
 12  hours_per_week     32561 non-null  int64
 13  country_of_origin  32561 non-null  object
 14  income             32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [12]:
# Selects a row
df.iloc[10]

# Selects 10 rows
df.iloc[0:10]

# Selects a range of rows
df.iloc[10:15]

 # Selects the last 2 rows
df.iloc[-2:]

# Selects every other row in columns 3-5
df.iloc[::2, 3:5].head()

    education  education_num
0   Bachelors             13
2     HS-grad              9
4   Bachelors             13
6         9th              5
8     Masters             14

In [13]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'F': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 5), columns=list('EDCBA'))],
               axis=1)
df.iloc[0, 2] = np.nan
df

      F         E         D         C         B         A
0   1.0  1.329212       NaN -0.316280 -0.990810 -1.070816
1   2.0 -1.438713  0.564417  0.295722 -1.626404  0.219565
2   3.0  0.678805  1.889273  0.961538  0.104011 -0.481165
3   4.0  0.850229  1.453425  1.057737  0.165562  0.515018
4   5.0 -1.336936  0.562861  1.392855 -0.063328  0.121668
5   6.0  1.207603 -0.002040  1.627796  0.354493  1.037528
6   7.0 -0.385684  0.519818  1.686583 -1.325963  1.428984
7   8.0 -2.089354 -0.129820  0.631523 -0.586538  0.290720
8   9.0  1.264103  0.290035 -1.970288  0.803906  1.030550
9  10.0  0.118098 -0.021853  0.046841 -1.628753 -0.392361

In [14]:
def colorNegativeValueToRed(value):
  if value < 0:
    color = 'red'
  elif value > 0:
    color = 'black'
  else:
    color = 'green'

  return 'color: %s' % color

s = df.style.applymap(colorNegativeValueToRed, subset=['A','B','C','D','E'])
s

In [15]:
def highlightMax(s):
    isMax = s == s.max()
    return ['background-color: orange' if v else '' for v in isMax]

def highlightMin(s):
    isMin = s == s.min()
    return ['background-color: green' if v else '' for v in isMin]

df.style.apply(highlightMax).apply(highlightMin).highlight_null(null_color='red')

import seaborn as sns

cm = sns.light_palette("pink", as_cmap=True)

s = df.style.background_gradient(cmap=cm)
s

<ipython-input-15-a42c08d24bac>:9: FutureWarning: `null_color` is deprecated: use `color` instead
  df.style.apply(highlightMax).apply(highlightMin).highlight_null(null_color='red')

In [16]:


class Disease:
  def __init__(self, disease = 'Depression'):
    self.type = disease

  def getName(self):
    print("Mental Health Diseases: {0}".format(self.type))

d1 = Disease('Social Anxiety Disorder')
d1.getName()

try:
  Value = int(input("Type a number between 1 and 10:"))
except ValueError:
   print("You must type a number between 1 and 10!")
else:
   if (Value > 0) and (Value <= 10):
       print("You typed: ", Value)
   else:
       print("The value you typed is incorrect!")

Mental Health Diseases: Social Anxiety Disorder
Type a number between 1 and 10:5
You typed:  5